// .car-details {
//     display: flex;
//   }
  
//   .car-thumbnail-container {
//     width: 40%;
//   }
  
//   .car-thumbnail {
//     width: 100%;
//     height: auto;
//   }
  
//   .car-info {
//     width: 60%;
//     padding: 20px;
//   }
  
//   .car-make {
//     font-size: 2em;
//     margin: 0;
//   }
  
//   .car-model {
//     font-size: 1.5em;
//     margin: 0;
//   }
  
//   .car-year,
//   .car-price {
//     font-size: 1.2em;
//     margin: 10px 0;
//   }
  

//   .cars {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: center;
//     flex-wrap: wrap;
 
//   }
  
//   .car {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between; 
//     flex-wrap: wrap; 
//     width: 100%;
//     width: 300px;
//     height: 350px;
//     max-width: 500px;
//     margin: 20px 15px; 
//     padding: 20px;
//     box-sizing: border-box;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     transition: transform 0.2s;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   }
  
//   .car:hover {
//     transform: scale(1.1);
//   }
  
//   .car-container {
//     width: 100%;
//     text-align: center;
//   }
  
//   .car-thumbnail {
//     width: 100%;
//     max-width: 300px;
//   }
  
//   .car-desc {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     margin-top: 20px;
//   }
  
//   .car-name {
//     font-size: 15px;
//     font-weight: bold;
//     margin-bottom: 8px;
//   }
  
//   .car-year {
//     font-size: 15px;
//     font-weight: bold;
//     margin-bottom: 8px;
//   }

//   .car-price {
//     font-size: 15px;
//     font-weight: bold;
//     margin-bottom: 8px;
//   }
  
//   .car-model {
//     font-size: 15px;
//     font-weight: bold;
//     margin-bottom: 8px;
//   }

.card {
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #ccc;
  transition: all 0.2s;
  display: flex;
  text-align: center;
}


.car-name,
.car-model,
.car-year,
.car-price {
  display:block;
  display: flex;
  border-radius: 50%; 
  align-items: center;
  justify-content: space-between; 
  
  width: 100%;
  width: 150px;
  height: 100px;
  max-width: 500px;
  margin: 20px 15px; 
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 10px;
  flex-basis: 25%;
}

.car-price:hover {
   transform: scale(1.1);
   }
.car-model:hover {
    transform: scale(1.1);
    }
.car-year:hover {
      transform: scale(1.1);
      }
.car-name:hover {
        transform: scale(1.1);
        }


